<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Mongoose Flights Lab</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doppio+One&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <a class="link-decor" id="h1-a" href="/">
            <h1 id="mongoose-header-title">MONGOOSE FLIGHTS</h1>
        </a>
    </header>
    <nav>
        <div><a class="link-decor" href="/">Home</a></div>
        <div><a class="link-decor" href="/flights">All Flights</a></div>
        <div><a class="link-decor" href="/flights/new">Add Flight</a></div>
    </nav>
