<%- include('../partials/header') %>

<h2>Add a New Ticket</h2>
<form id="newTicketForm" action="/flights/<%= flightId %>/tickets" method="POST">
    <label>Seat:
        <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
    </label>
    <label>Price: 
        <input type="text" name="price">
    </label>
    <button type="submit" form="newTicketForm">Add Ticket</button>
</form>

<%- include('../partials/footer') %>