<%- include('../partials/header') %>

<h2>Add a New Ticket</h2>
<form id="#new-ticket-form" action="/tickets" method="POST">
    <label>Seat: </label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price: </label>

</form>

<%- include('../partials/footer') %>