<%- include('./partials/header') %>


<!-- I had no idea what to add to this page lol // wasnt my concern for the lab -->

<div id="home">
    <h1>Mongoose Flights</h1>
    <img src="https://freesvg.org/img/Airplane-pictogram-by-Rones.png" alt="airplane">
</div>

<%- include('./partials/footer') %>
