* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  text-align: center;
  margin: 45px;
  letter-spacing: 15px;
  font-size: 38px;
}

/* -======HEADER======- */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8vh;
  background-color: black;
}

header #mongoose-header-title {
  font-family: 'Doppio One', sans-serif;
  letter-spacing: 2px;
  text-align: left;
  margin-left: 3vmin;
  color: white;
}

/* -======NAV BAR======- */

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5vh;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
}
nav > div {
  padding: 1vmin;
  margin-left: 2vmin;
}

.link-decor {
    color: black;
    text-decoration: none;
}

/* -======NEW FLIGHT======- */

#new-flight {
  text-align: center;
  margin: 45px;
  letter-spacing: 10px;
  font-size: 38px;
}

#add-destinations-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#new-flight-div {
  margin: 10vmin auto;
  height: 400px;
  width: 1005px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-flight-div > form {
  padding: 30px;
  height: 450px;
  width: 1005px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: right;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
}

#new-flight-div > form > * {
}

.new-flight-label {
  grid-column-start: 1;
  margin-right: 45px;
}

#new-flight-div input, #new-flight-div select {
  height: 35px;
  width: 250px;
  margin-left: 0;
}

.new {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: 25px;
  grid-column-start: 2;
}

#new-flight-button {
  border: 1px solid rgb(30, 80, 117);
  background-color: rgb(30, 80, 117);
  justify-content: center;
  color: white;
  font-size: 16px;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
}

#button-div {
  display: flex;
  justify-content: center;
  grid-column: span 2;
}

/* -======ALL FLIGHTS======- */

#details-link {
  color: Black;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  text-decoration: none;
}

#details-link:hover {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  text-decoration: none;
}

#flights-index-container {
  height: fit-content;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#flights-index-table {
  height: fit-content;
  width: 1000px;
  padding: 45px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
}

#flights-index-table > thead > tr > th {
  border-bottom: 1px solid black;
  padding: 15px;
  padding-top: 0;
}

#flights-index-table tbody > tr > td {
  padding: 5px;
}